* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Rubik', sans-serif;
}
.header {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:-10px;
}
.logo {
    width: 155px;
}
.imglogo {
    width: 100%;
}
.menu {
    font-size: 16px;
    margin-top: 10px;
    color:#4a4a4a;
}
.menu li {
    display:inline ;
    text-decoration: none;
}
.menu .blog {
    margin-right:20px;
}
.main {
    background-color: #3CDBC0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF
}
.title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    width: 50%;
}