@media all and (min-width:768px) {

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.header .menu {
    margin-right: 20px;
}
.imglogo {
    padding: 20px 20px 10px 30px;
}
.main .title {
    font-size: 40px;
    font-weight: 900;
}
}