@media all and (min-width:768px) {

.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.header .menu {
    margin-right: 2rem;
}
.imglogo {
    padding: 2rem 2rem 1rem 3rem;
}
.main .title {
    font-size: 4rem;
    font-weight: 900;
}
}